<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
   <!-- Bootstrap用CSSの読み込み -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <!-- Bootstrap用JavaScriptの読み込み -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Subak</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to("Home", "/top/index", {method: "index", class: "nav-link"}) %>
      </li>
      <li class="nav-item active">
        <%= link_to("商品購入", "/top/products", {method: "products", class: "nav-link"}) %>
      </li>
      <li class="nav-item">
        <%= link_to("ポジション確認", "/top/position", {method: "position", class: "nav-link"}) %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          プロフィール
        </a>
        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
          <%= link_to("プロフィール確認", "/top/profile", {method: "profile", class: "nav-link"}) %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト".html_safe,destroy_account_session_path,method: :delete,:style=>"color:white;" %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<br>
<table class="table">
<div class="text-right">
  <button onclick="location.href='../carts/show'" type="button" class="btn btn-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg> カートを表示
    </button>
</div>
</table>

<table class="table">
  <tr>
    <th>コール/プット</th><th>銘柄</th><th>満期日</th><th>購入締切日</th><th>行使価格</th>
      <th>オプションプレミアム</th><th>購入数</th><th colspan="2"></th>
  </tr>
    
      <% @products.each do |obj| %>
      <tr>
        <td><%= obj.callput %></td>
        <td><%= obj.name %></a></td>
        <td><%= obj.settlement_date %></td>
        <td><%= obj.closing_date %></td>
        <td><%= obj.exercise_price %>円</td>
        <td><%= obj.option_premium %>円</td>
        <td>
          <%= form_with  url: {controller: 'carts', action: 'add_item'} do |f| %>
            <%= f.number_field :quantity ,value:0,min:1,max:1000,class:"form-control" %>
            <%= f.hidden_field :product_id, value: obj.id %>
            <td><%= f.submit 'カートに入れる' %></td>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

</html>
