<%= form_with(model: product_price) do |form| %>
  <% if product_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_price.errors.count, "error") %> prohibited this product_price from being saved:</h2>

      <ul>
        <% product_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price_date %>
    <%= form.date_select :price_date %>
  </div>

  <div class="field">
    <%= form.label :buy_sell_segment %>
    <%= form.text_field :buy_sell_segment %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
