<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_price.name %>
</p>

<p>
  <strong>Price date:</strong>
  <%= @product_price.price_date %>
</p>

<p>
  <strong>Buy sell segment:</strong>
  <%= @product_price.buy_sell_segment %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_price.price %>
</p>

<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>
