<% provide(:title, "Index")%>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Product</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  #検索機能
  <%= search_form_for @q, url: search_admin_products_path do |f| %>
  <%= f.label :brand_id_in, '銘柄：' %>
  <%= f.collection_check_boxes :brand_id_in, @brands, :id , :name %><br>
  <%= f.label :settlement_date_eq, '満期日：' %>
  <%= f.date_field :settlement_date_gteq %>〜
  <%= f.date_field :settlement_date_lteq_end_of_day %><br>
  <%= f.label :closing_date_eq, '購入締切日：' %>
  <%= f.date_field :closing_date_gteq %>〜
  <%= f.date_field :closing_date_lteq_end_of_day %>
  <br>
  <%= f.submit '検索' %>
<% end %>

  <a href="/admin_products/new">商品を追加する</a></td>
  
  <h2>Product_List</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
        <th>ID</th>
        <th>コール/プット</th>
        <th>銘柄</th>
        <th>満期日</th>
        <th>購入締切日</th>
        <th>行使価格</th>
        <th>オプションプレミアム</th>
        <th>公開/非公開</th>

        <th colspan="3"></th>
      </thead>
      <tbody>
        </tr>
        <% @admin_products.each do |obj| %>
        <tr>
          <td><%= obj.id %></td>
          <td><%= obj.callput %></td>
          <td><%= obj.brand.name %></td>
          <td><%= obj.settlement_date %></td>
          <td><%= obj.closing_date %></td>
          <td><%= obj.exercise_price %></td>
          <td><%= obj.option_premium %></td>

          <% if obj.published == 0 then
                flag = "公開"
                change = "非公開にする"
             else
                flag = "非公開"
                change = "公開にする"
             end
          %>

          <td><%= flag%></td>
          <td width="120px">
          <%= link_to change ,changeflag_admin_product_path(obj), method: :post, data: { confirm: '公開/非公開を変更しますか？'} %></td>
          <td><%= link_to '編集' ,edit_admin_product_path(obj) %></td>
          <td><%= link_to '削除',admin_product_path(obj), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
      <%= link_to "csv出力",output_admin_products_path(format: :csv) %><br>
      <%= form_tag import_admin_products_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "csvインポート" %>
      <% end %>
      <%= link_to '<<*管理者画面に戻る', admins_path %>
  </div>
</main>