<h1 class="display-4 text-primary">Companies</h1>

<table class="table text-nowrap">
  <thead>
    <tr>
      <th>会社名</th>
      <th>Account ID</th>
      <th>会社郵便番号</th>
      <th>会社住所</th>
      <th>代表者氏名</th>
      <th>法人番号</th>
      <th>法人登記年月日</th>
      <th>和牛生産者</th>
      <th>食肉卸業</th>
      <th>小売業</th>
      <th>外食業</th>
      <th>中食業</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.account_id %></td>
        <td><%= company.postal_code %></td>
        <td><%= company.address %></td>
        <td><%= company.representative_name %></td>
        <td><%= company.co_number %></td>
        <td><%= company.co_registration_date %></td>
        <td><%= company.farmer %></td>
        <td><%= company.wholesale %></td>
        <td><%= company.retail %></td>
        <td><%= company.restaurant %></td>
        <td><%= company.homemeal %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
