<h1>Products#edit</h1>
<p>※「<%= @product.id %>」
    の内容を編集します。</p>
<%= form_for(@product, url:{controller:'products', 
    action:'edit', id:@product.id}) do |form| %>
    <div class="form-group">
      <label for="callput">コール/プット</label>
      <%= form.text_field :callput,{class:"form-control"} %>
    </div>
    <div class="form-group">
      <label for="brand">銘柄</label>
      <br>
      <%= @product.brand.name %>
    </div>
    <div class="form-group">
      <label for="settlement_date">満期日</label>
      <%= form.date_field :settlement_date,{class:"form-control"} %>
    </div>
    <div class="form-group">
      <label for="closing_date">購入締切日</label>
      <%= form.date_field :closing_date,{class:"form-control"} %>
    </div>
    <div class="form-group">
      <label for="exercise_price">行使価格</label>
      <%= form.number_field :exercise_price, {class:"form-control"} %>
    </div>
    <div class="form-group">
      <label for="option_premium">オプションプレミアム</label>
      <%= form.number_field :option_premium, {class:"form-control"} %>
    </div>
    <%= form.submit "更新" %>
  <% end %>
  <p class="link"><a href="/products">
      &lt;&lt; ※トップページに戻る</a></p>