<h1 class="display-4 text-primary">products#show</h1>
<p>※「<%= @product.brand %>」のデータ</p>
<table class="table">
  <tr><th width="200">Id</th>
    <td><%= @product.id %></td></tr>
  <tr><th>コール/プット</th>
    <td><%= @product.callput %></td></tr>
  <tr><th>銘柄</th>
    <td><%= @product.brand %></td></tr>
  <tr><th>満期日</th>
    <td><%= @product.settlement_date %></td></tr>
  <tr><th>購入締切日</th>
    <td><%= @product.closing_date %></td></tr>
  <tr><th>行使価格</th>
    <td><%= @product.exercise_price %>円</td></tr>
  <tr><th>オプションプレミアム</th>
    <td><%= @product.option_premium %>円</td></tr>
  </tr>
</table>
<p><a href="/products">&lt;&lt; 
    ※トップページに戻る</a></p>

